*{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
}
body{
    background-color: rgb(234, 232, 232);
}
.body{
    border-radius: 20px;
    background-color: white;
    margin:10px 140px;
    height: auto;
    width:auto;
}
nav{
    background-color: black;
    font-size : 20px;
    color:white;    
    height: 60px;
    margin :auto;  
    align-items: center;
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
.first-ul,.second-ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
li{
    list-style:none;
    margin: 10px 20px;
}
#your-img{
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    height : 24px;
    width:24px;
}
#myac{
    border : 0px;
}
a:link{
    color:grey;
    text-decoration: none;
}
a:visited{
    color:grey;
    text-decoration:none;
}
a:hover{
    color:white;
    text-decoration: none;
}
h1{
    margin:20px;
}
p{
    margin:40px;
}
.p{
    list-style: disc;
}
.intro_para{
    font-size: 20px;
    margin:50px 90px;
}
h3{
    margin-top:50px;
}