*{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
}
body{
    background-color: rgb(232, 232, 232);
}
nav{
    top:0px;
    overflow: hidden;
    position: fixed;
    background-color: black;
    font-size : 20px;
    color:white;    
    height: 60px;
    width: 100%;
    margin :auto;  
    align-items: center;
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
.first-ul,.second-ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.body{
    /* min-height: calc(100% - 100px); */
    padding:40px;
    border-radius: 20px;
    background-color: white;
    margin-top: 100px;
    margin:110px 140px;
    height: auto;
    width:auto;
    color:grey;
}
#top{
    position:fixed;
    top: 60px;
    border:0px;
    background-color: orange;
    height: 5px;
    width: 100%;
}
li{
    list-style:none;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
#your-img{
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    height : 24px;
    width:24px;
}
a:link{
    color:grey;
    text-decoration: none;
}
a:visited{
    color:grey;
    text-decoration:none;
}
a:hover{
    color:white;
    text-decoration: none;
}
h1{
    margin:20px;
    color:black;
}
h2{
    margin-left: 60px;
    color:black;
    margin-top:50px;
    font-weight: bolder;
}
.sub-heading{
    font-weight: lighter;
    margin-left: 60px;
    color:black;
    margin-top:20px;
}
p{
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    padding:10px;
    font-size: 20px;
    /* margin:40px; */
}
.p{
    font-family: 'Montserrat', sans-serif;
    list-style: disc;
    font-size: 20px;
    margin-left: 120px;
}
.divider{
    margin:40px;   
}
.btm{
    position: fixed;
    left: 0px;
    bottom : 0px;
    background-color: black;
    font-size : 20px;
    color:white;    
    height: 40px;
    width: 100%;
    align-items: center;
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
.btm_first{
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
#video
{
    border-radius: 20px;
    margin-left:100px;
}
#qselecotr_img{
    display: block;
    height: 70px;
    width: 1000px;
    margin: auto;
}
.note{
    background-color: rgb(228, 228, 229);
    border-radius:20px;
    padding:20px;
}
.note p {
    margin:5px 10px;
}
#dt_img{
    display: block;
    height: 500px;
    width: 800px;
    margin: auto;
}
#textstyling{
    display: block;
    height:400px;
    width:600px;
    margin: auto;
}
#fleximg{
    display: block;
    height: 200px;
    width: 700px;
    margin: auto;
}
#compOP_img{
    display: block;
    height: 700px;
    width: 900px;
    margin: auto;
}

/*Media Queries Begins*/

@media only screen and (max-width:480px){
    *{
        padding:0px;
        margin:0px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Spline Sans Mono', monospace;
    }
    body{
        background-color: rgb(232, 232, 232);
    }
    nav{
        top:0px;
        overflow: hidden;
        position: fixed;
        background-color: black;
        font-size : 18px;
        color:white;    
        height: 50px;
        width: 100%;
        margin :auto;  
        align-items: center;
        display : flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .first-ul,.second-ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .body{
        width: 98vw;
        padding:0px;
        border-radius: 20px;
        background-color: white;
        margin-top: 80px;
        height: auto;
        color:grey;
    }
    #top{
        position:fixed;
        top: 50px;
        border:0px;
        background-color: orange;
        height: 5px;
        width: 100%;
    }
    li{
        list-style:none;
        margin: 10px 10px;
        font-family: 'Montserrat', sans-serif;
    }
    #your-img{
        -webkit-filter: invert(100%); 
        filter: invert(100%);
        height : 18px;
        width:18px;
    }
    a:link{
        color:grey;
        text-decoration: none;
    }
    a:visited{
        color:grey;
        text-decoration:none;
    }
    a:hover{
        color:white;
        text-decoration: none;
    }
    h1{
        margin:10px;
        color:black;
    }
    h2{
        margin-left: 30px;
        color:black;
        margin-top:30px;
        font-weight: bolder;
    }
    .sub-heading{
        font-weight: lighter;
        margin-left: 40px;
        color:black;
        margin-top:20px;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        padding:10px;
        font-size: 20px;
        /* align-items: center; */
    }
    .p{
        font-family: 'Montserrat', sans-serif;
        list-style: disc;
        font-size: 20px;
        /* margin-left: 120px; */
    }
    .divider{
        margin:20px;   
    }
    .btm{
        position: fixed;
        left: 0px;
        bottom : 0px;
        background-color: black;
        font-size : 20px;
        color:white;    
        height: 40px;
        width: 100%;
        align-items: center;
        display : flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .btm_first{
        display : flex;
        flex-direction: row;
        justify-content:space-between;
    }
    #video
    {
        display: block;
        border-radius: 20px;
        margin: auto;
        /* margin-left:100px; */
    }
    #qselecotr_img{
        display: block;
        height: 70px;
        width: 200px;
        margin: auto;
    }
    .note{
        background-color: rgb(228, 228, 229);
        border-radius:20px;
        padding:20px;
    }
    .note p {
        margin:5px 10px;
    }
    #dt_img{
        display: block;
        height: 200px;
        width: 200px;
        margin: auto;
    }
    #textstyling{
        display: block;
        height:200px;
        width:200px;
        margin: auto;
    }
    #fleximg{
        display: block;
        height: 200px;
        width: 200px;
        margin: auto;
    }
    #compOP_img{
        display: block;
        height: 200px;
        width: 200px;
        margin: auto;
    }
}