*{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
}
body{
    background-color: rgb(232, 232, 232);
}
.body{
    padding:20px;
    /* margin-top: 30px; */
    border-radius: 20px;
    background-color: white;
    margin-top: 100px;
    margin:110px 140px;
    height: auto;
    width:auto;
    color:grey;
}
nav{
    top:0px;
    overflow: hidden;
    position: fixed;
    background-color: black;
    font-size : 20px;
    color:white;    
    height: 60px;
    width: 100%;
    margin :auto;  
    align-items: center;
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
.first-ul,.second-ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#top{
    position:fixed;
    top: 60px;
    border:0px;
    background-color: orange;
    height: 5px;
    width: 100%;
}
li{
    list-style:none;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
#your-img{
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    height : 24px;
    width:24px;
}
#myac{
    border : 0px;
}
a:link{
    color:grey;
    text-decoration: none;
}
a:visited{
    color:grey;
    text-decoration:none;
}
a:hover{
    color:white;
    text-decoration: none;
}
h1{
    margin:20px;
    color:black;
}h3{
    color:black;
}
p{
    font-family: 'Montserrat', sans-serif;
    padding:10px;
    /* margin:40px; */
}
.p{
    font-family: 'Montserrat', sans-serif;
    list-style: disc;
    margin-left: 90px;
}
.intro_para{
    font-size: 18px;
    margin:50px 90px;
}
h3{
    margin-top:50px;
}
.btm{
    position: fixed;
    overflow: hidden;
    bottom : -672px;
    background-color: black;
    font-size : 20px;
    color:white;    
    height: 40px;
    width: 100%;
    margin :auto;  
    align-items: center;
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
.btm_first{
    display : flex;
    flex-direction: row;
    justify-content:space-between;
}
#video
{
    border-radius: 20px;
    margin-left:100px;
}
#qselecotr_img{
    height: 70px;
    width: 1000px;
    margin: auto;
}
.note{
    background-color: rgb(228, 228, 229);
    border-radius:20px;
    padding:20px;
}
#textstyling{
    height:350px;
    weidht:350px;
}